.logo {
    margin-top: 10px;
}

.edit-menu {
    opacity: .35;
    transition: opacity .3s ease;
}

.edit-menu:hover {
    opacity: 1;
}

.edit-menu li {
    padding-bottom: 10px;
}

.floating-menu {
    margin-left: 45px;
    margin-top: -35px;
    position: fixed;
}

#file-buttons {
    max-height: 50px;
    opacity: .35;
    transition: opacity .3s ease;
}
#file-buttons:hover {
    opacity: 1;
}

.color-picker i {
    transition: shadow .1s ease-in;
}
.color-picker i:hover {
    text-shadow: 0 0 15px #333;
}

.non-selectable {
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none;
}

.xlarge {
    font-size: 110px !important;
}

.pred {
    color: #D62246;
}
.porange {
    color: #F29559;
}
.pyellow {
    color: #ffeb3b;
}
.pgreen {
    color: #4caf50;
}
.pblue {
    color: #2196f3;
}
.pdarkblue {
    color: #0d47a1;
}
.ppurple {
    color: #311b92;
}
.pgrey {
    color: #555;
}
.pbrown {
    color: #795548;
}
.pblack {
    color: #000;
}
