<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>pernt</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/imgs/favicon.png" type="image/x-icon"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/app.css"/>
</head>
<body>
<nav class="teal darken-1" role="navigation" style="position: fixed">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo center logo-wrapper">
            <img class="logo" alt='Pernt' src="/imgs/logo_white.png"/></a>
    </div>
</nav>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="canvas-container">
    <canvas id="paintCanvas" style="position: fixed;"></canvas>
    <img id="loadedCanvas" th:width="${imageWidth}" th:height="${imageHeight}" th:src="${imageDataURL}" hidden="hidden"/>
    <canvas id="scaledCanvas" hidden="hidden"></canvas>
</div>

<div id="file-buttons" class="fixed-action-btn horizontal click-to-toggle" style="top: 90px; right: 24px;">
    <a class="btn-floating btn-large blue hover-opq">
        <i class="material-icons">insert_drive_file</i>
    </a>
    <ul>
        <li><a id="new" class="btn-floating modal-trigger red" href="#are-you-sure-modal"><i class="material-icons">add</i></a></li>
        <li><a id="share" class="btn-floating modal-trigger green" href="#share-modal"><i class="material-icons">share</i></a></li>
    </ul>
</div>

<div id="menu-container" class="non-selectable" style="top: 90px; left: 10px; position: fixed;">
    <div th:replace="edit-menu"></div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet color-picker valign-wrapper">
    <div class="modal-content center valign">
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pred">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large porange">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pyellow">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pgreen">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pblue">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pdarkblue">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large ppurple">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pbrown">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pgrey">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pblack">lens</i></a>
        <a href="#" onclick="" class="pcolor"><i class="material-icons large pwhite">lens</i></a>
    </div>
</div>

<!-- Modal Structure -->
<div id="are-you-sure-modal" class="modal">
    <div class="modal-content">
        <h4>New Pernting</h4>
        <div class="flow-text">Are you sure you want to make a new pernting? <br/> Your current pernting will be lost.</div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="clear-canvas" class="modal-action modal-close waves-effect waves-green btn-flat red-text">New pernting</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Cancel</a>
    </div>
</div>

<div id="share-modal" class="modal">
    <div class="modal-content">
        <div class="flow-text">Share your pernting</div>
        <div class="row">
            <div class="col m8">
                <label for="shareUrl"></label>
                <input id="shareUrl" type="text" readonly="readonly"/>
            </div>
            <div class="col m4">
                <button class="btn right" data-clipboard-target="#shareUrl">Copy to Clipboard</button>
            </div>
        </div>
    </div>
    <!--<div class="modal-footer">-->
        <!--<a href="#!" onclick="clearCanvas()" class="modal-action modal-close waves-effect waves-green btn-flat red-text">New pernting</a>-->
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Cancel</a>-->
    <!--</div>-->
</div>

<a class="modal-trigger" href="#modal1" style="position: fixed; bottom: 15px; left: 15px;" hidden="hidden">
    <i id="currentColor" class="material-icons medium">lens</i>
</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<script>
    var clipboard = new Clipboard('.bHilliardtn');
</script>
<script src="/runtime.js"></script>
<script src="/app.js"></script>
</body>
</html>
